@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-overlay{position: relative;}
.banner-overlay:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6);}
.banner-overlay .banner-text{position: relative; z-index: 9;}